button {
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  border-radius: 2em;
  margin: 0.3em;
}

button:hover {
  cursor: pointer;
}


.orange {
  background-color: #FF9500;
  color: white;
}

.gray{
  background-color: #505050;
  color: white;
}

.zero {
  flex: 1;

}

.flex-container{
  display: flex;
}

.direction-column{
  flex-direction: column;
}

.display{
  color: white;
  display:flex;
  justify-content: right;
  margin-right: 1em;
}
